{
  "swagger": "2.0",
  "info": {
    "title": "OrgSettings",
    "description": "Connector for Org Settings",
    "version": "1.0"
  },
  "host": "ccdemo0919.crm4.dynamics.com",
  "basePath": "/api/data/v9.1",
  "schemes": [
    "https"
  ],
  "consumes": [],
  "produces": [],
  "paths": {
    "/WhoAmI()": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "WhoAmI",
        "description": "Returns current User detail",
        "operationId": "WhoAmI",
        "parameters": []
      }
    },
    "/RetrieveVersion": {
      "get": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {
              "type": "object",
              "properties": {
                "@odata.context": {
                  "type": "string",
                  "description": "@odata.context"
                },
                "Version": {
                  "type": "string",
                  "description": "Version"
                }
              }
            }
          }
        },
        "summary": "GetVersion",
        "description": "Retrieves current version of the D365 environment",
        "operationId": "GetVersion",
        "parameters": []
      }
    },
    "/organizations({GUID})": {
      "patch": {
        "responses": {
          "default": {
            "description": "default",
            "schema": {}
          }
        },
        "summary": "ClearOrgSetting",
        "description": "Clears current DB Org setting",
        "operationId": "ClearOrgSetting",
        "parameters": [
          {
            "name": "GUID",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": false,
            "schema": {
              "type": "object",
              "properties": {
                "orgdborgsettings": {
                  "type": "string",
                  "description": "Org DB Settings (leave blank)",
                  "title": "orgdborgsettings",
                  "x-ms-visibility": "important"
                }
              },
              "required": [
                "orgdborgsettings"
              ]
            }
          }
        ]
      }
    }
  },
  "definitions": {},
  "parameters": {},
  "responses": {},
  "securityDefinitions": {
    "oauth2_auth": {
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.windows.net/common/oauth2/authorize",
      "tokenUrl": "https://login.windows.net/common/oauth2/authorize",
      "scopes": {}
    }
  },
  "security": [
    {
      "oauth2_auth": []
    }
  ],
  "tags": []
}